@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');


*{
    /* background-color: #FFFFFF; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* -------------------- Cabeçalho -------------------- */
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 30px ;
}

header hr {
    /* border: 2px solid rgb(0, 153, 255); */
    margin-top: 0.5%;
    border: 2px solid rgb(0, 0, 0);
}

.logo-container {
    width: 27vh;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    text-align: center;   
}

.logo-container a {
    text-decoration: none;
}

.logo-container img {
    width: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.logo-container img:active {
    transform: scale(1.05);
}

.logo-container h1 {
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    color: black;
    /* color: rgb(0, 153, 255) */
}


.voltar {
    display: flex;
    gap: 1vh;
    
}

.voltar div{
    margin-top: 15%;
    margin-left: 18%;
    border: solid;
    box-shadow: 3px 3px 7px rgb(51, 51, 51);
    background-color: rgb(211, 237, 255);
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.voltar div img {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    width: 70%;   
}




.jogos .l1{
    margin-top: 10vh;
    display: flex;
    gap: 5%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;  
}

.jogos .l1 a {
    text-decoration: none;
    color: black;
}

.jogos .l1 div {
    border: solid;
    box-shadow: 10px 7px 15px rgb(51, 51, 51);
}

.jogos .jg1 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg1 img {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
}

.jogos .jg1 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg1:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg1:active {
    transform: scale(0.98);
}



.jogos .jg2 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg2 img {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
}

.jogos .jg2 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg2:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg2:active {
    transform: scale(0.98);
}


.jogos .jg3 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg3 img {
    margin-left: 16%;
    margin-top: 10%;
    width: 70%;
}

.jogos .jg3 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg3:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg3:active {
    transform: scale(0.98);
}



.jogos .l2{
    margin-top: 5vh;
    display: flex;
    gap: 5%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;  
}

.jogos .l2 a {
    text-decoration: none;
    color: black;
}

.jogos .l2 div {
    border: solid;
    box-shadow: 10px 7px 15px rgb(51, 51, 51);
}


.jogos .jg4 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg4 img {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
}

.jogos .jg4 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg4:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg4:active {
    transform: scale(0.98);
}


.jogos .jg5 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg5 img {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
}

.jogos .jg5 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg5:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg5:active {
    transform: scale(0.98);
}


.jogos .jg6 {
    /* background-color: rgb(160, 217, 255); */
    background-color: rgb(211, 237, 255);
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
}

.jogos .jg6 img {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
}

.jogos .jg6 h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 5%;
    
}

.jogos .jg6:hover {
    background-color: rgb(218, 239, 253);
}

.jogos .jg6:active {
    transform: scale(0.98);
}



footer {
    background-color: rgb(160, 217, 255);;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
    height: 4%;
}

footer h1 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}