@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #16ddf7;
  }
  header{
    background-color: rgb(255, 255, 255);
    border-bottom: 30px ;
}

header hr {
    /* border: 2px solid rgb(0, 153, 255); */
    margin-top: 0.5%;
    border: 2px solid rgb(0, 0, 0);
}

.logo-container {
    width: 27vh;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    text-align: center;   
}

.logo-container a {
    text-decoration: none;
}

.logo-container img {
    width: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.logo-container img:active {
    transform: scale(1.05);
}

.logo-container h1 {
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    color: black;
    /* color: rgb(0, 153, 255) */
}
  .container {
    font-size: 16px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
  }

  .voltar {
    display: flex;
    gap: 1vh;
    
  }
  
  .voltar div{
    margin-top: 15%;
    margin-left: 18%;
    border: solid;
    box-shadow: 3px 3px 7px rgb(51, 51, 51);
    background-color: rgb(211, 237, 255);
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  .voltar div img {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    width: 70%;   
  }
  
  #options-container {
    text-align: center;
  }
  #options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
  }
  #options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
  }
  #options-container button:disabled {
    border: 3px solid #808080;
    color: #808080;
    background-color: #efefef;
  }
  #options-container button.active {
    background-color: #16ddf7;
    border: 3px solid #000000;
    color: #000000;
  }
  .letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }
  #letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
  }
  .new-game-popup {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
  }
  #user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
    letter-spacing: 6px;
  }
  canvas {
    display: block;
    margin: auto;
    border: 1px solid #000000;
  }
  .hide {
    display: none;
  }
  #result-text h2 {
    font-size: 1.8em;
    text-align: center;
  }
  #result-text p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
  }
  #result-text span {
    font-weight: 600;
  }
  #new-game-button {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #16ddf7;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 0.2em;
  }
  .win-msg {
    color: #39d78d;
  }
  .lose-msg {
    color: #fe5152;
  }
  footer {
    background-color: rgb(160, 217, 255);
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
    height: 4%;
}

footer h1 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}